---
import Layout from '../../layouts/default-layout.astro';
import NotesSidebar from '../../components/notes/sidebar.astro';
import { getNavigation } from '../../utils/notes';

const navigation = getNavigation();
---

<Layout title="研究筆記">
  <div class="container py-lg-5">
    <div class="row g-4">
      <div class="col-lg-3">
        <NotesSidebar navigation={navigation} />
      </div>
      <div class="col-lg-9">
        <section class="notes-intro">
          <header class="mb-4">
            <h1 class="display-6 fw-bold mb-3">研究筆記</h1>
          </header>

          <div class="card-body">
            <p>
              這裡的筆記大多是寫給自己快速回顧，所以通常不會有完整的教學。
              <br />
              <br />
              舊的筆記可能會寫得比叫冗長，請斟酌閱讀。新的筆記至少會有兩個小節：
            </p>

            <ul>
              <li>使用情境</li>
              <li>坑點</li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</Layout>

<style>
  li {
    margin-bottom: 0.5rem;
  }
</style>
