---
import type { CategoryWithContent } from '../utils/content';

import ContentNavigation from './content-navigation.astro';

interface Props {
  activeId?: string;
  ariaLabel?: string;
  navigation: CategoryWithContent[];
}

const { activeId, ariaLabel = '側邊導覽', navigation } = Astro.props;
---

<aside class="d-none d-lg-block ps-1 pe-2 pt-1 mt-n1" style={{ width: '200px' }}>
  <nav aria-label={ariaLabel}>
    <ContentNavigation activeId={activeId} id="content-sidebar-accordion" navigation={navigation} />
  </nav>
</aside>

<style>
  /* 側邊欄樣式 */
  aside {
    position: sticky;
    top: 5rem;
    max-height: calc(100dvh - 5rem);
    height: 100%;
    overflow: scroll;
  }

  /* 捲軸樣式 */
  aside::-webkit-scrollbar {
    width: 6px;
  }

  aside::-webkit-scrollbar-track {
    background: transparent;
  }

  aside::-webkit-scrollbar-thumb {
    background: rgb(var(--bs-primary-rgb), 0.4);
    border-radius: 0;
  }
</style>
