---
import type { CategoryWithNotes } from '../utils/notes';
import NotesNavigation from './notes/notes-navigation.astro';

interface Props {
  navigation: CategoryWithNotes[];
  activeId?: string;
}

const { navigation, activeId } = Astro.props;
---

<aside class="d-none d-lg-block ps-1 pe-2 pt-1 mt-n1" style={{ width: '200px' }}>
  <nav aria-label="研究筆記側邊導覽">
    <NotesNavigation navigation={navigation} activeId={activeId} id="notes-sidebar-accordion" />
  </nav>
</aside>

<style>
  /* 側邊欄樣式 */
  aside {
    position: sticky;
    top: 5rem;
    max-height: calc(100dvh - 5rem);
    height: 100%;
    overflow: scroll;
  }

  /* 捲軸樣式 */
  aside::-webkit-scrollbar {
    width: 6px;
  }

  aside::-webkit-scrollbar-track {
    background: transparent;
  }

  aside::-webkit-scrollbar-thumb {
    background: rgb(var(--bs-primary-rgb), 0.4);
    border-radius: 0;
  }
</style>
