---
import type { CategoryWithNotes } from '../../utils/notes';
import NotesNavigation from './notes-navigation.astro';

interface Props {
  navigation: CategoryWithNotes[];
  activeId?: string;
}

const { navigation, activeId } = Astro.props;
---

<aside class="d-none d-lg-block px-2 ms-n2 pt-1 mt-n1">
  <nav aria-label="研究筆記側邊導覽">
    <NotesNavigation navigation={navigation} activeId={activeId} id="notes-sidebar-accordion" />
  </nav>
</aside>

<style>
  aside {
    position: sticky;
    top: 5rem;
    max-height: calc(100dvh - 5rem);
    overflow: scroll;
  }

  aside::-webkit-scrollbar {
    width: 6px;
  }

  aside::-webkit-scrollbar-track {
    padding: 0;
    background: transparent;
  }

  aside::-webkit-scrollbar-thumb {
    background: rgb(var(--bs-primary-rgb), 0.6);
    border-radius: 4px;
  }
</style>
